.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white ;
}

.home-about-social-links {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  gap: 50px ;
  padding-top: 15px ;
  padding-inline-start: 0 ;
}


.home-social-icons {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  width: 50px ;
  height: 50px ;
  background: #5b93fb ;
  border-radius: 50% ;
  transition: 0.5s ;
  border: #ffffff solid 2px ;
}



.home-social-icons:hover {
  background: #deeafc4f ;
  border: #0c3986 solid 2px ;
}


.icon-colour:hover {
  color: #0c3986 ;
}

.icon-colour {
  color: white ;
}


.social-icons {
  display: inline-block ;
}


.custom-form {
  background-color: #3d3a42; 
  border: 1px solid #888888; 
  padding: 10px;
}

.custom-form::placeholder {
  background-color: #3d3a42; 
  color: #cccccc ; 
}

.custom-form:hover, .custom-form:focus {
  background-color: #504d57;  
  transition: all 0.3s ease-in-out ;
  color: #cccccc ; 
}
.custom-form,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: #3d3a42 ;
  -webkit-box-shadow: 0 0 0px 1000px #3d3a42 inset;
  -webkit-text-fill-color: #cccccc;
  color: #cccccc ; 
}

/* Captcha */

.captcha-container {
  display: flex;
  justify-content: center;
}

/* Mobile captcha */
@media (max-width: 768px) {
  .captcha-container iframe {
    transform: scale(0.85); 
    transform-origin: center; 
  }
}

/* Mobile captcha */
@media (max-width: 480px) {
  .captcha-container iframe {
    transform: scale(0.75); 
    transform-origin: center;
  }
}




.contact-info-box {
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgba(71, 70, 70, 0.1) !important;
  border: 2px solid rgba(255, 255, 255, 0.6) !important;
  color: #ccc;
  max-width: 400px;
  margin: auto;
}
