.resume-section {
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    color: white !important;
}

.pdf-container {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff7e;
}