/* === CONTAINER PRINCIPAL === */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.6s ease;
}

#preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

/* === CONTENEUR CENTRAL === */
.preloader-content {
  position: relative;
  width: 300px;
  height: 300px;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInScale 0.8s ease-in-out forwards;
}


.preloader-logo svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* === LOGO SVG GLOBAL === */
.logo-svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}



/* === TRAÇAGE CERCLE DE FOND === */
.svg-circle {
  fill: none;
  stroke: #276DEE;
  stroke-width: 6px;
  stroke-miterlimit: 10;

  stroke-dasharray: 1540;
  stroke-dashoffset: 1540;
  animation: draw-stroke 1.5s ease forwards;
}

/* === TRAÇAGE DES PATH === */
.svg-path {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw-stroke 1.8s ease forwards;
}

.contour{
  stroke-width: 4px;
  filter: drop-shadow(0 0 5px #276DEE);
}

.svg-fill-blue {
  fill: #276DEE;
  opacity: 0;
  animation: fade-fill 0.8s ease forwards;
  animation-delay: 1.9s;
}


/* === DÉLAIS POUR CHAQUE TRAIT === */
.delay-1 {
  animation-delay: 0.2s;
  stroke: #276DEE;
}

.delay-2 {
  animation-delay: 0.4s;
  stroke: #276DEE;
}

.delay-3 {
  animation-delay: 0.6s;
  stroke: #276DEE;
}

/* === ANIMATIONS === */
@keyframes draw-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade-fill {
  to {
    opacity: 1;
  }
}