.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 30px !important;
  padding-top: 15px !important;
  padding-inline-start: 0 !important;
}


.home-social-icons {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 80px !important;
  height: 80px !important;
  font-size: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
  position: relative !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0c3986;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover {
  background: #deeafc !important;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b8c9f8;
}

.icon-colour {
  color: #0c3986 !important;
}


.social-icons {
  display: inline-block !important;
}