.gitlab-link {
  color: #f5921a ;
}

.gitlab-link:hover {
  color: #be6b06 ;
  transition: color 0.3s ease-in-out;
}

.github-link {
  color: #ffffff ;
}

.github-link:hover {
  color: #dad7d7 ;
  transition: color 0.3s ease-in-out;
}