/* --------- */
/* Navbar Section  */
/* --------- */

/* Sélecteur de langue */
.language-selector {
  position: relative;
  display: inline-block;
  background: transparent !important;
  font-family: 'Montserrat', serif  !important;
}

.dropdown-toggle:hover {
  background: #4441628a !important;
  transition: ease-in-out 0.4s !important;
}




/* Masquer le triangle de la flèche */
.dropdown-toggle {
  padding: 0.8rem 1rem !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
  padding-right: 1rem;
  background: #19172ac3 !important;
  border-radius: 15px !important;
}

.dropdown-toggle::after {
  display: none !important;
  color: #ffffff;
}

/* mettre bien bouton language */
.dropdown-menu {
  background: #ffffff23 !important;
  margin-top: 0.5rem;
}

.dropdown-menu.show {
  border-radius: 10px;
}

.dropdown-item {
  color: #ffffff !important;
}

.dropdown-menu a::after {
  background: transparent !important;
  color: #ffffff !important;
}

.dropdown-item:hover {
  color: #ffffff;
  background: #757390 !important;
  border-radius: 10px;
}

.language-selector select {
  background-color: transparent;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 24px;
  padding: 5px;
  margin-top: 5px;
  padding-right: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.language-selector .btn-secondary{
  border-color: rgba(104, 103, 103, 0.466);
}


/* Navbar Sticky */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.8s ease-out ;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) ;
  backdrop-filter: blur(15px) ;
  border-radius: 0px 0px 25px 25px ;
  border-bottom: #ffffff1a solid 1px ;
  border-left: #ffffff1a solid 1px ;
  border-right: #ffffff1a solid 1px ;
  margin: 0rem 10rem;
}

/* Navbar Styles */
.navbar {
  position: fixed ;
  transition: all 0.7s ease-out ;
  padding: 0.3rem 2rem ;
  font-size: 1.2rem ;
}

/* Navbar Toggler - Hamburger Button */
.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: #2776DE;
  height: 4px;
  width: 27px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-toggler span:nth-child(2) {
  width: 22px;
  margin-left: auto ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 ;
}

/* Animation du menu hamburger */
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out ;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

/* Styles pour le mobile */
@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
    border-bottom: #ffffff1a solid 1px ;
    border-radius: 0px 0px 25px 25px ;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }

  .language-selector {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .navbar-toggler {
    margin-left: auto;
  }
  .navbar {
  margin: 0rem 1rem;
}
}

/* Logo et liens de navigation */
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
  font-family: 'Montserrat', serif  !important;
  font-weight: 500;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

/* Effet de survol sur les liens nav */
.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 3px;
  width: 0;
  border-radius: 16px;
  background: linear-gradient(90deg, #276DEE, #6C88FF);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.navbar-nav .nav-item a:hover {
  background: linear-gradient(90deg, #276DEE, #6C88FF);
  color: #276DEE !important;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-out;
}
.navbar-nav .nav-item .nav-link.active {
  background: linear-gradient(90deg, #276DEE, #6C88FF);
  color: #276DEE !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback */
  transition: all 0.4s ease-out;
}
.navbar-nav .nav-item a:hover::after,
.navbar-nav .nav-item .nav-link.active::after {
  width: 100%;
}


.navbar-nav .nav-item .language-selector a:hover {
  color: #ffffff !important;
  transition: all 0.4s ease-out;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}