@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Sora", serif !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
